@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Outfit', sans-serif;
}

@layer base {
   button,
   [role="button"] {
      @apply cursor-pointer;
      @apply disabled:cursor-not-allowed;
   }
}

.particle {
  position: absolute;
  width: 4px;
  height: 4px;
  background: var(--ui-primary);
  opacity: .2;
  border-radius: 50%;
  animation: float 10s infinite;
}

@keyframes float {
  0% { transform: translateY(0); opacity: .1; }
  50% { opacity: .3; }
  to { transform: translateY(-100vh); opacity: .1; }
}

.animate-slide-up {
  opacity: 1 !important;
}

.client-logo svg {
  height: 100%;
  width: auto;
  max-width: 160px;
}

.client-logo svg path,
.client-logo svg polygon,
.client-logo svg rect,
.client-logo svg circle {
  fill: currentColor !important;
}